<%= link_to 'Home', root_path %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Sample Page</title>
  <meta charset="utf-8" />
  <meta name="Author" content="Darren Provine" />
  <meta name="generator" content="emacs" />
  <link rel="shortcut icon" href="/~kilroy/Images/KilroyBrick.png" />
  <style>
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
  </style>
</head>

<body>

<p>
  Here is an angle bracket: &lt; <br />
  Here is a semicolon: ; <br />
  Here is an ampersand: &amp; <br />
  C&aelig;sar;
</p>

<hr style="width: 25%; margin-left: 0;" />

<p>
  This is a <strong>(boring)</strong> sample web page.
</p>

<p>
  The last book I read was <i>Deadout</i>, by Jon McGoran.
</p>

<p>
  The Spanish word for orange is <i>anaranjado</i>.
</p>

<p>
  I did not say he beats his <em>dog</em>. (he beats his cat)<br />
  I did not say he <em>beats</em> his dog. (he feeds his dog)<br />
  I did not say <em>he</em> beats his dog. (his kids do it)<br />
  I did not say he beats <em>his</em> dog. (he beats other dogs)<br />
</p>

<!-- This is how to put in a comment.  Do NOT try to put a
     double-hyphen inside a comment. -->


<footer style="border-top: 1px solid blue">
 <a href="http://elvis.rowan.edu/~kilroy/" 
    title="Link to my home page">
    D. Provine
 </a>

<span style="float: right;">
<a href="http://validator.w3.org/check/referer">HTML5</a> /
<a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">
    CSS3 </a>
</span>
</footer>

</body>
</html>
